<section>
    <div class="row align-items-start">
 
		<div class="col">
			Columna 1
		</div>
 
		<div class="col">
			Columna 2
		</div>
 
		<div class="col">
			Columna 3
        </div>
        
        <div class="col">
            Columna 4
        </div>

        <div class="col">
            Columna 5
        </div>

        <div class="col">
            Columna 6
        </div>
 
	</div>
 
</section>

<section>
    <div class="row align-items-start">
 
		<div class="col">
			Columna 1
		</div>
 
		<div class="col">
			Columna 2
		</div>
 
		<div class="col">
			Columna 3
        </div>
        
        <div class="col">
            Columna 4
        </div>

        <div class="col">
            Columna 5
        </div>

        <div class="col">
            Columna 6
        </div>
 
	</div>
 
</section>