<div class="container">
    <h2>Descripción de ToDo</h2>
        <br>
        <strong>Description:</strong>  <%= @todo.description %>
        <br>
        <strong>Completed:</strong>  <%= @todo.completed %>
        <br>
    
</div>